/config/bundle/*
!/config/bundle/config
/config/vim/autoload/*
!/config/vim/autoload/.keep
/config/vim/plugins/*
!/config/vim/plugins/.keep
/config/vim/.netrwhist
/config/config/karabiner/*
!/config/config/karabiner/karabiner.json
