[submodule "plugins/mitamae-plugin-recipe-plenv"]
	path = plugins/mitamae-plugin-recipe-plenv
	url = https://github.com/masawada/mitamae-plugin-recipe-plenv.git
[submodule "plugins/itamae-plugin-recipe-rbenv"]
	path = plugins/itamae-plugin-recipe-rbenv
	url = https://github.com/k0kubun/itamae-plugin-recipe-rbenv.git
