* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(0, 0, 0, 0.1);
}

button {
  margin: 32px;
  border-radius: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  color: rgba(255, 255, 255, 1.0);
  font-size: 24px;
  font-family: "Noto Sans JP";
}

button:focus, button:active, button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  outline-style: none;
}

/*
#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
*/
